* {
    
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
}

body {
    
    min-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #1F2937;
    padding: 6px 40px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    height: 400px;
    display: flex;
    color: white;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;

}

.hero .hero-text {
    width: 520px;
    height: 240px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero img {
    display: flex;
    height: 240px;
    width: 520px;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

button {
    width: 140px;
    height: 41px;
    padding: 8px;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
    border-color: #3882F6;
}

.info {
    height: 460px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-evenly;
}

.info-heading {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cells {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.cell {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.box {
    height: 180px;
    width: 180px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.quote {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote-text {
    width: 860px;
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-person {
    font-weight: bold;
    text-align: end;
    width: 860px;
}

.action {
    height: 160px;
    width: 1000px;
    margin: 100px;
    display: flex;
    background-color: #3882F6;
    color: white;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border-color: #3882F6;
}

.action button {
    height: 41px;
    border-color: white;
}

.call {
    font-size: 24px;
    font-weight: bold;
}

.sub-call {
    font-size: 16px;
}

.footer {
    height: 60px;
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}